.screen-header {
  display: flex;
  justify-content: space-between;
  padding: var(--horizontal-space);
  align-items: center;
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 30px;
  font-weight: 600;
}
.screen-header__icons span {
  margin-left: 25px;
}
.screen-header__icons:last-child {
  position: relative;
}
.screen-header__icons__notice {
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: tomato;
  position: absolute;
  right: -5px;
  bottom: 20px;
}
@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateY(360deg);
  }
}
.screen-header__icons .fa-cog:hover {
  animation: rotateCog 1s ease-in-out infinite;
}
